{% extends 'base.html.twig' %}

{% block title %}Вход в аккаунт
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="/styles/css/login.css">
{% endblock %}

{% block body %}
	<div class="login-container">
		<h1>Вход в аккаунт</h1>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                {# Есть разные типы сообщений: success, error, warning #}
                <div class="flash-{{ label }}">
                    {{ message|raw }}
                </div>
            {% endfor %}
        {% endfor %}
		<form method="post" class="login-form">
			{% if error %}
				<div class="alert-message">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
				<div class="user-logged-message">
					Вы уже вошли как
					{{ app.user.userIdentifier }},
					<a href="{{ path('logout') }}">Выйти</a>
				</div>
			{% endif %}

			<div class="field">
				<label for="username">Email</label>
				<input type="email" value="{{ last_username }}" name="_username" id="username" autocomplete="email" required autofocus>
			</div>

			<div class="field">
				<label for="password">Пароль</label>
				<input type="password" name="_password" id="password" autocomplete="current-password" required>
			</div>

			<input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">

			<div class="remember-me">
				<label>
					<input type="checkbox" name="_remember_me">
					<span>Запомнить меня</span>
				</label>
			</div>

			<button type="submit">Войти</button>
		</form>
		<div class="register-link">
			<span>Нет аккаунта?</span>
			<a href="/registration">Создать</a>
		</div>
	</div>
{% endblock %}
