{% extends "base.html.twig" %}

{% block title %}
    Комната
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/styles/css/room-list.css">
{% endblock %}

{% block javascripts %}
    <script>
        window.mercureUrl = '{{ mercureUrl }}';
    </script>
    <script defer src="/js/room/room-list.js"></script>
{% endblock %}

{% block body %}
    <div class="rooms-list-container">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                {# Есть разные типы сообщений: success, error, warning #}
                <div class="flash-{{ label }}">
                    {{ message|raw }}
                </div>
            {% endfor %}
        {% endfor %}
        <div class="rooms-list-header">
            <h1>Список комнат</h1>
        </div>
        <div class="rooms-list-scroll">
            <ul id="rooms-list">
                {% for room in openRooms %}
                    {% set playersCount = room.getPlayers()|length %}
                    <li id="room-{{ room.id }}">
						<span>Комната
							{{ room.id }}</span>
                        <div class="room-actions">
						    <span id="room-players-count-{{ room.id }}">{{ playersCount }}/4</span>
                            <button class="join-room-button" data-room-id="{{ room.id }}"> Войти</button>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="create-room-separator"></div>
        <button id="create-room-button">Создать комнату</button>
    </div>
{% endblock %}
