{% extends 'base.html.twig' %}
{% block title %}
	Комната
{% endblock %}

{% block javascripts %}
	<script>
		window.roomId = {{ room.id }};
window.mercureUrl = '{{ mercureUrl }}';
window.userId = {{ userId }}
	</script>
	<script defer src="/js/room/room.js"></script>
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="/styles/css/room.css">
{% endblock %}

{% block body %}
	<div class="room-container">
		<div class="room-header">
			<h1>Комната
				<span class="room-id">#{{ room.id }}</span>
			</h1>
		</div>
		<div class="room-content" id="players-list">
			{% for player in players %}
				<div class="player-card {{ player.isReady ? 'ready' : '' }}" id="player-{{ player.player.id }}">
					<span class="player-slot">{{ player.slot }}</span>
					<img src="../styles/images/shield.png" alt="shield" class="player-shield">
					<span class="player-name">{{ player.player.email }}</span>
					{% if player.player.id == userId %}
						<button class="ready-button my-button" data-player-id="{{ player.player.id }}" data-ready="{{ player.isReady ? '1' : '0' }}">
							{{ player.isReady ? 'Готов' : 'Не готов' }}
						</button>
					{% else %}
						<button class="ready-button" id="player-status-{{ player.player.id }}" data-ready="{{ player.isReady ? '1' : '0' }}" disabled>
							{{ player.isReady ? 'Готов' : 'Не готов' }}
						</button>
					{% endif %}
				</div>
			{% endfor %}
		</div>
		<div id="start-countdown" style="display:none; text-align:center; margin-top:20px;">
			<span class="countdown-text">Игра начнётся через
				<span id="count">5</span>
				секунд...</span>
		</div>
	</div>
{% endblock %}
